// COLORS
$color-primary: rgb(194, 194, 194);
$color-background-lightgreen: #7ed56f;
$color-background-darkgreen: #28b485;
$color-text-white: #fff;
$color-black: #000000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light-1: #f3e9e9;

//FONT-SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;